joblib==1.5.1
optuna==3.1.0
torch==2.4.1
tensorboard==2.19.0
pytorch-lightning==2.5.2
mlflow==2.19.0
einops-exts==0.0.4
lpips==0.1.4
pytorch-msssim==1.0.0
torch-fidelity==0.3.0
openpyxl==3.1.5
antspyx==0.5.4
rotary-embedding-torch==0.8.6
transformers==4.46.3
